<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

        <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="stylesheet" href="/styles/styles.css">

    
    
</head>
<%- include("partials/header.ejs") %>


<body class="bg-gray-100 w-full">
<div class="sub-header bg-gray-100 p-4 text-center">
            <h2 class="text-2xl font-bold mb-2">Explore Our Entire Collection</h2>
            <p class="text-gray-600">Browse through our vast library of books and discover new titles, authors, and genres</p>
        </div>
    <div class="max-w-screen-xl mx-auto  p-5 sm:p-10 md:p-16  sm:pt-2 md:pt-2">
        <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
            <% books.forEach(book => { %>
                <div class=" bg-white shadow-md  border-gray-400 lg:border-t lg:border-gray-400 rounded-lg bg-white  flex flex-col  leading-normal   ">
                   
                    <div class=" relative group overflow-hidden rounded-lg shadow-md">
                    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" alt="<%= book.title %>" loading="lazy"  class="object-contain  mt-4 h-48 w-96 mb-4 transition duration-300 transform group-hover:scale-105" >
                </div>
                   

                    <div class="p-4 pt-2 rounded-full">

                        <div class="mb-8 flex flex-col">
                           

                            <a href="#bookTitle" class="text-gray-900 max-h-12 font-bold text-lg mb-2 hover:text-indigo-600 inline-block"><%= book.title %></a>
                            <p class="text-gray-700 text-sm truncate overflow-hidden text-ellipsis line-clamp-2 "><%= book.summary %></p>
                        </div>
                        <div class="flex items-center">
                            <img src="https://covers.openlibrary.org/a/olid/<%= book.author_olid %>-S.jpg" alt="<%= book.author %>" loading="lazy" class="w-10 h-10 rounded-full mr-4">
                            <div class="text-sm">
                                <a href="#" class="text-gray-900 font-semibold leading-none hover:text-indigo-600"><%= book.author %></a>
                                <p class="text-gray-600"><%= book.date_read.toLocaleString('en-US', { dateStyle: 'medium' }) %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
   
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include("partials/footer.ejs") %>
</body>
</html>